body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a.active {
    font-weight: bold;
    text-decoration: underline;
}

nav a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.hero {
    position: relative;
    text-align: center;
    padding: 2rem;
    color: white;
    height: 400px; 
    background: url("ktrip.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
    background-attachment: scroll; 
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    object-fit: cover;
    z-index: -1;
}

h1, h2 {
    font-size: 2rem;
}

.section {
    padding: 2rem;
}

img {
    width: 100%;
}

figure.destination {
    margin-bottom: 2rem;
}

figure.destination img {
    width: 100%;
    height: auto;
}

figcaption {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

figure.destination p {
    font-size: 16px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

caption {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td {
    background-color: #fafafa;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 20px auto;
}

.form-row {
    margin-bottom: 1.2em;
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    margin-bottom:10px;
    font-weight: bold;
}

form input, form select {
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
  
  button:hover {
    background-color: #555;
}
  
input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.video-container {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
}



@media (max-width: 768px) {
    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .hero {
        height: 300px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    th, td {
        padding: 8px;
    }

    caption {
        font-size: 18px;
    }

    .video-container {
        padding-bottom: 75%;
      }
}