body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

.underline {
    text-decoration: underline;
}

footer p {
    color: #999999;
}

#firstpar {
    color: aquamarine;
}

.blue {
    color: blue;
}

.bigger {
    font-size: 18pt;
}

.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.brown {
    color: brown;
}
.darkgreen {
    color: darkgreen;
}

.orangered {
    color: orangered;
}
.pink {
    color: palevioletred;
}