h1 {
    color: #754C2A;
   font-family: Georgia, 'Times New Roman', Times, serif;

}
body {
    background-color: #EFDCCD;
    color: #45250A;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#main-title {
    color: #45250A;
    text-align: center;
}

.brown {
  color: #754C2A;
}

.darkbrown {
    color:#45250A;
}

.lightbrown {
    color: #9A714E;
}
.italic {
    font-style: italic; 
}

.bold {
    font-weight: bold;
}

.beige {
    color: #C19B7B;
}