body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

fieldset {
    background-color: aliceblue;
}

legend {
    background-color: rgb(5, 5, 85);
    color: white;
    padding: 20px;
}

.form-row input:not([type="submit"]) {
    padding: 5px;
    border-radius: 5px;
    background-color: #bdbdbd;
}

.form-row input:not([type="submit"]):focus {
    background-color: #fff;
}

.form-row input[type="submit"] {
    padding: 20px;
    background-color: rgb(5, 5, 85);
    color: white;
    font-size: 24px;
}

.form-row {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.radio-row {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.form-row label {
    width: 150px;
    text-align: right;
}

.form-spacer {
    width: 150px;
    text-align: right;
}

@media ONLY screen and (max-width: 600px) {
    .form-row, .radio-row {
        flex-direction: column;
    }

    .form-row label {
        text-align: left;
    }

    .form-spacer {
        text-align: left;
    }
}

